<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-center, initial-scale=1.0" />
    <script src="static/js/vendor/modernizr.js"></script>
    <title>Localização-Amigos</title>
    <link rel="stylesheet" href="static/css/foundationEntrar.css" />
    <link rel="stylesheet" href="static/css/mobile.css" media="(max-width: 940px)">
    <script src="js/modernizr.js"></script>

  </head>
              <body id="imagem" >

            
              <fieldset>
            	<div class="row">
                 <label id="labelAzul">Email</label>
                 <input type="text" placeholder="Email address">
             </div>
              <div class="row">
                <label id="labelAzul">Password</label>
                <input type="password" placeholder="Password">
              </div>


              <ul>
              
                <div class="left"><a href="Cadastro" class="small round button" >Cadastro</a></div>
              
              
                <div class="rightButton"><a href="index" class="small round button" id="rightButton" >Entrar</a></div>

              </ul>

            <ul class="left" >
              <a href="#" id="labelAzul">Redefinição de Senha</a>
            </ul>
            </fieldset>
            


    <script src="static/js/jquery.js"></script>
   
      <script src="static/js/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
    </body>


</html>